<div>
	<%= form_for @route do |f| %>
		<p>Name : <%= f.text_field :number %></p>
		<p>stops</p>
		<p><%= collection_check_boxes(:route, :stop_ids, Stop.all, :id, :name)%></p>
		<p>end</p>
		<p><%= f.submit  %></p>
	 <%end%>
</div>